<!DOCTYPE html>
<html lang="en">
<head>
    {include file="public/header2" /}
</head>
<body class="blackbg">
    <div id="container" class="logbg">
        <div class="log_title">
            <span class="back"><a href="javascript:history.go(-1)"></a></span>
            {:lang('成交查询')}/{:lang('品种列表')}
        </div>
        <ul class="tdlist">
            {volist name="coin_list" id="vo"}
                <li>
                    <a href="/mobile/Finance/mycj/market/{$vo['name']}">
                        <div class="xsltop">
                            <img src="/upload/coin/{$vo['img']}">{$vo['title']}
                        </div>
                    </a>
                </li>
            {/volist}
        </ul>
    </div>
</body>
</html>