<!DOCTYPE html>
<html lang="en">
<head>
    {include file="public/header2" /}
    <script type="text/javascript" src="/layer/layer.js"></script>
    <script type="text/javascript" src="/Home/js/jquery.cookies.2.2.0.js"></script>
    <script type="text/javascript" src="/layer/laydate/laydate.js"></script>
</head>
<body class="blackbg">
    <div id="container" class="logbg">
        <div class="log_title">
            <span class="back"><a href="javascript:history.go(-1)"></a></span>
            {:lang('推荐奖励')}
        </div>
        <div class="logbot" id="button">
        <button type="button" class="layout" style="border:none;width: 100%;" onclick="bianhua()">{:lang('筛选')}</button>
        </div>
        <div class="logbot" style="display:none" id="check">
            <form action="" method="get">
      <!-- 开始时间： -->
      <input type="text" name="time1" class="search-input form-control" value="{$info['time1']}" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" placeholder="{:lang('开始时间')}" style="width:100%;height: 40px;font-size: 14px;color:rgba(255,255,255, .4);background:rgba(0,0,0, .5);text-indent:10px;margin-top: 15px;">

      <!-- -结束时间： -->
      <input type="text" name="time2" class="search-input form-control" value="{$info['time2']}" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" placeholder="{:lang('截止时间')}" style="width:100%;height: 40px;font-size: 14px;color:rgba(255,255,255, .4);background:rgba(0,0,0, .5);text-indent:10px;margin-top: 15px;">
      <button type="submit" class="layout" style="border:none;width: 100%;">{:lang('查询')}</button>
      <button type="button" class="layout" style="border:none;width: 100%;background:rgba(255,255,255, .5)" onclick="bianhua1()">{:lang('收起')}</button>
    </form>
    </div>
        <div class="chgbox">
            <ul>
            {volist name="list" id="vo"}
                <li>
                    <div class="chglist_top">
                        {:lang('时间')}：{$vo.level}
                        <span class="state wait">
                            {$vo.addtime|addtime}
                        </span>
                    </div>
                    <table class="chglist_bot">
                        <tr>
                            <th>{:lang('用户名')}</th>
                            <th>{:lang('奖励说明')}</th>
                            <th>{:lang('奖励金额')}</th>
                        </tr>
                        <tr>
                            <td>{$vo.invit|substr_replace='****',3,6}</td>
                            <td style="width:120px;">{$vo.type}</td>
                            <td>{$vo['fee']|round=3}</td>
                        </tr>
                    </table>
                </li>
            {/volist}
            </ul>
            <div class="pages">{$page}</div>
        </div>
    </div>
{include file="public/footer" /}
<!-- <script>
    $("#type-selectTest,#market-selectTest").change(function(){
        var type=$("#type-selectTest option:selected").val();
        var market=$("#market-selectTest option:selected").val();
        window.location='/Finance/mycj/type/'+type+'/market/'+market+'.html';
    });
</script> -->
<script>
    function bianhua(){
        $("#check").show();
        $("#button").hide();
    }
    function bianhua1(){
        $("#button").show();
        $("#check").hide();
    }
</script>
</body>
</html>