<!DOCTYPE html>
<html lang="en">
<head>
    {include file="public/header2" /}
</head>
<body class="blackbg">
    <div id="container" class="logbg">
        <div class="log_title">
            <span class="back"><a href="javascript:history.go(-1)"></a></span>
            {:lang('币种转入')}/{:lang('币种列表')}
        </div>
        <ul class="tdlist">
            {volist name="coin_list" id="vo"}
                <li>
                    <a href="{:url('Finance/myzr',array('coin'=>$vo['name']))}">
                        <div class="xsltop">
                            <img src="/Upload/coin/{$vo['img']}">{:lang($vo['title'])}({$vo['name']|strtoupper=###})
                        </div>
                    </a>
                </li>
            {/volist}
        </ul>
    </div>
{include file="public/footer" /}
</body>
</html>