<div class="usnc_left">
    <div class="ulmenubox">
        <h4><img src="/home/news/images/uswicon1.png">BTC</h4>
        <ul>
            <li id="btcbuy"><a href="{:url('Ptpbc/index/market/btc')}"> {:lang('我要买入')}</a></li>
            <li  id="btcsell"><a href="{:url('Ptpbc/index2/market/btc')}"> {:lang('我要卖出')}</a></li>
        </ul>

    </div>
     <div class="ulmenubox">
        <h4><img src="/home/news/images/uswicon1.png">USDT</h4>
        <ul>
            <li id="usdtbuy"><a href="{:url('Ptpbc/index/market/usdt')}"> {:lang('我要买入')}</a></li>
            <li id="usdtsell"><a href="{:url('Ptpbc/index2/market/usdt')}"> {:lang('我要卖出')}</a></li>
        </ul>

    </div>
    <div class="ulmenubox">
        <h4><img src="/home/news/images/uswicon1.png">发布交易</h4>
        <ul>
            <li id='push'><a href="{:url('Ptpbc/push')}"> {:lang('发布交易')}</a></li>
        </ul>

    </div>
</div>