<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover" />
	<title>{:config('wap_title')}发现</title>
	{include file="public/head" /}
	<style>
		.mui-table-view .mui-icon {margin-bottom:0.3125rem;font-size:1.875rem!important;}
	</style>
</head>
<body>
<header class="mui-bar mui-bar-bg mui-bar-nav">
	<h1 class="mui-title color_white">发现</h1>
</header>
<div class="mui-content" style="padding:54px 0 20px 0;background-color:#313e51;">
	<div class="valuation_assets">
		<p class="title">1993.MOBI交易所</p>
	</div>
</div>
<div class="mui-content cur-padding-bottom" style="padding-top:0;">
	<ul class="mui-table-view mui-grid-view mui-grid-9" style="margin-top:0;">
		<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
			<a href="{:url('Finance/index')}">
				<i class="mui-icon iconfont icon-qianbao1" style="color:#50a3ff;"></i>
				<div class="mui-media-body">我的资产</div>
			</a>
		</li>
		<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
			<a href="{:url('Exchange/index')}">
				<i class="mui-icon iconfont icon-daochuSVG-" style="color:#3ccb94;"></i>
				<div class="mui-media-body">C2C</div>
			</a>
		</li>
		<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
			<a href="{:url('Financing/index')}">
				<i class="mui-icon iconfont icon-licaifuwu" style="color:#ff9b58;"></i>
				<div class="mui-media-body">币生币</div>
			</a>
		</li>
		
		<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
			<a href="{:url('Support/index/categories',array('cid'=>1))}">
				<i class="mui-icon iconfont icon-qianbao1" style="color:#50a3ff;"></i>
				<div class="mui-media-body">公告</div>
			</a>
		</li>
		<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
			<a href="{:url('Support/index/categories',array('cid'=>2))}">
				<i class="mui-icon iconfont icon-qianbao" style="color:#50a3ff;"></i>
				<div class="mui-media-body" style="color:#ccc;">帮助</div>
			</a>
		</li>
		<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
			<a href="#">
				<i class="mui-icon mui-icon-more"></i>
				<div class="mui-media-body" style="color:#ccc;">Eexpect</div>
			</a>
	  </li>
		<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
			<a href="#">
				<i class="mui-icon mui-icon-more"></i>
				<div class="mui-media-body" style="color:#ccc;">Eexpect</div>
			</a>
          </li>
		<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
			<a href="#">
				<i class="mui-icon mui-icon-more"></i>
				<div class="mui-media-body" style="color:#ccc;">Eexpect</div>
			</a>
  
      
      
      </li>
	</ul> 
</div>

<script>
$(document).ready(function(){
	$('#menu_4').addClass('mui-active');
});
</script>
{include file="public/footer" /}
</body>
</html>