
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot'); /* IE9*/
  src: url('../fonts/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/f25215e6d23a4f16be87f5def0f5609f.woff') format('woff'),
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jinbizhuanchu:before { content: "\e60b"; }

.icon-yingyong:before { content: "\e600"; }

.icon-71:before { content: "\e68b"; }

.icon-zhongchou2:before { content: "\e634"; }

.icon-licai:before { content: "\e602"; }

.icon-jiediantongji:before { content: "\e6e9"; }

.icon-yingyongguanli:before { content: "\e61f"; }

.icon-zhongchou:before { content: "\e6e6"; }

.icon-licaihaojijin:before { content: "\e606"; }

.icon-jingshigantanhao:before { content: "\e7f3"; }

.icon-jingshigantanhao2:before { content: "\e7f4"; }

.icon-zhuye:before { content: "\e60f"; }

.icon-ai-arrow-down:before { content: "\e658"; }

.icon-yonghuming:before { content: "\e6c0"; }

.icon-xiazai8:before { content: "\e621"; }

.icon-chenggong:before { content: "\e618"; }

.icon-shibai1:before { content: "\e619"; }

.icon-tubiao1:before { content: "\e613"; }

.icon-jiantou:before { content: "\e622"; }

.icon-jiantou3:before { content: "\e624"; }

.icon-jiantou4:before { content: "\e625"; }

.icon-iconfontzhizuobiaozhun023101:before { content: "\e667"; }

.icon-gupiao:before { content: "\e620"; }

.icon-fptj:before { content: "\e62d"; }

.icon-duihuanqingkuang:before { content: "\e708"; }

.icon-icon-test:before { content: "\e60c"; }

.icon-licaifuwu:before { content: "\e645"; }

.icon-zhongchou1:before { content: "\e60d"; }

.icon-Kxiantu:before { content: "\e666"; }

.icon-jiaoyi:before { content: "\e93b"; }

.icon-licaitequan:before { content: "\e605"; }

.icon-tag23:before { content: "\e60e"; }

.icon-hangqing:before { content: "\e6a9"; }

.icon-gupiao1:before { content: "\e6ad"; }

.icon-shijian:before { content: "\e725"; }

.icon-shibai2:before { content: "\e659"; }

.icon-shanchu1:before { content: "\e609"; }

.icon-erji-yingyonggailan:before { content: "\eaa2"; }

.icon-success:before { content: "\e61a"; }

.icon-shanchu2:before { content: "\e60a"; }

.icon-qianbao1:before { content: "\e623"; }

.icon-daochuSVG-:before { content: "\e64e"; }

.icon-iconjia:before { content: "\e603"; }

.icon-add:before { content: "\e607"; }

.icon-yinhangqia2:before { content: "\e614"; }

.icon-tongji:before { content: "\e64a"; }

.icon-kuahangzhanghupiliangzhuanzhangchaxun:before { content: "\e650"; }

.icon-licaiqianyue:before { content: "\e629"; }

.icon-diejia:before { content: "\e640"; }

.icon-Chart:before { content: "\e610"; }

.icon-licai1:before { content: "\e604"; }

.icon-jiaoyi1:before { content: "\e615"; }

.icon-jiaoyi2:before { content: "\e6a1"; }

.icon-qiandai:before { content: "\e631"; }

.icon-jiaoyi3:before { content: "\e626"; }

.icon-jinbizhuanchu1:before { content: "\e611"; }

.icon-jiahao:before { content: "\e608"; }

.icon-jiaoyi4:before { content: "\e616"; }

.icon-zhuanchu:before { content: "\e6b3"; }

.icon-qianbao:before { content: "\e601"; }

.icon-shanchu:before { content: "\e612"; }

.icon-OTCjiaoyi:before { content: "\e636"; }

.icon-zhihuan:before { content: "\e676"; }

.icon-otcjiaoyi:before { content: "\e774"; }

.icon-dingdan:before { content: "\e66f"; }

