	<meta charset="utf-8">
    <title>{:dump(config('web_title'))}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="stylesheet" type="text/css" href="/mobile/css/base.css">
    <link rel="stylesheet" type="text/css" href="/mobile/css/style.css">
    <script src="/mobile/js/jquery-1.11.3.min.js"></script>
    <script src="/mobile/js/jquery.SuperSlide.2.1.1.js"></script>
    <script src="/mobile/js/TouchSlide.1.1.js"></script>